extends layout
 
block content
  h1 Contato
  section.css-table
    section.two-column
      section.cell
        h2 Dúvidas, sugestões, críticas entre em contato
        p <strong>E-mail: </strong>
          img(src='/images/email.png', style='width:300px')

        