extends layout

block content
  h1  Artigos Técnicos.
  section.css-table
  section.css-table
    section.two-column
      section.cell
        a(href='/artigoNode')
          img(src='/images/node.jpg')
          h3 Instalando a plataforma Node.js e o Nodemon no Windows
          p Neste artigo estamos demonstrando como realizar a instalação e configuração do Node.js e Nodemon em uma máquina Windows
            <br/> por Wellington | Node.js 20/06/2015
      section.cell
        a(href='/artigoDocker')
          img(src='/images/docker.png')
          h3 Disponibilidade de Serviço com Docker
          p Para desenvolver soluções de alta demanda a técnica de Microserviço associada a um ambiente preparado para serviços distribuídos é uma solução viável e econômica, neste artigo vamos discutir  a aplicação do Docker como uma solução para este cenário
            <br/> por Esdras, Stephanie, Thais e Wellington | Docker 20/06/2015
