extends layout
 
block content
  h1 Prof. Me. Wellington Pinto de Oliveira
  section.css-table
    section.two-column
      section.cell
        img(src='/images/artigos/nodemon/wellington.jpg', width='120px')
      section.cell
        h2 Descrição
        p Possui graduação em Ciência da Computação e mestrado em Ensino Acadêmico pela Universidade Cruzeiro do Sul (UNICSUL 2006). Atualmente é professor concursado na Faculdade de Tecnologia do Estado de São Paulo (FATEC) nas disciplinas de Interação Humano-Computador, Sistemas Operacionais e Redes de Computadores. É aluno do curso de Doctorado em Administracion pelo Instituto Universitário (ESEADE Buenos Aires) no qual estuda a interação do ser humano com a tecnologia no contexto organizacional. Difusor das tecnologias NS Basic e HandheldBasic no qual é reconhecido pelos fabricantes.
        h2
          a(href='http://lattes.cnpq.br/1473011256195357', target='_blank') Currículo Lattes

        
        